<% include ../partials/header_test %>

<div class="container">
    <div class="row">
        <div style="margin: 25px auto;">
            <h1 style="text-align: center">Edit Course: <%= course.name %></h1>
            <form action="/courses/<%= course._id%>?_method=PUT" method="POST">
                <div style="text-align: left"><strong>Purpose #1: </strong>Show form to update details in Mongo "courses" collection </div>
                <div style="text-align: left"><strong>Path: </strong> courses/:id/edit </div>
                <div style="text-align: left"><strong>HTTP Verb: </strong> GET</div>
                <div style="text-align: left"><strong>Mongo Collection: </strong> N/A</div>
                <div style="text-align: left"><strong>Mongoose Path: </strong> Course.findById(req.params.id, function(err, foundCourse) {});</div>
                
                <div class="form-group">
                    
                    <input class="form-control" type="text" name="course[name]" value="<%= course.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[category]" value="<%= course.category %>" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[series]" value="<%= course.series %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[description]" value="<%= course.description %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[image]" value="<%= course.image %>">
                </div>
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Saved Edited Course</button>
                </div>
            </form>
            <div style="text-align: left"><strong>Purpose #2: </strong> Update indivdual course in Mongo "courses" collection </div>
            <div style="text-align: left"><strong>Path: </strong>courses/:id </div>
            <div style="text-align: left"><strong>HTTP Verb: </strong> PUT using method-overridee</div>
            <div style="text-align: left"><strong>Mongo Collection: </strong> courses</div>
            <div style="text-align: left"><strong>Mongoose Path: </strong>Course.findByIdAndUpdate()</div>
            <a href="/courses">Go Back Courses Main Page</a>
            <a href="/courses">Go Back</a>
            
        </div>

    
    </div
</div>
<% include ../partials/footer %>