<% include ../partials/header_test %>
    

<div class="container">

<div>
    <div class="container">
        <h5><strong>RESTful Route:  </strong>Index</h5>
        <h5><strong>Path: </strong>/courses</h5>
        <h5><strong>HTTP Verb: </strong>GET</h5>
        <h5><strong>Purpose: </strong>List all courses in Mongo "courses" collection</h5>
        <h5><strong>Mongo Collection: </strong>courses</h5>
        <h5><strong>Mongoose Path: </strong>Course.find()</h5>
        <p> <a class="btn btn-primary btn-lg" href="/courses/new">Add New Course</a></p>
    </div>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        
        <% courses.forEach(function(course){ %>
            <div class="col-md-3 col-sm-6 course-summary-border">
                <div class="thumbnail">
                    <div class="caption">
                         <h5><%= course.name %></h5>
                         <p class="course-summary">Category:  <%= course.category %></p>
                         <p class="course-summary">Series:  <%= course.series %></p>
                         <p class="course-summary">Description:  <%= course.description %></p>
                         
                    </div>
                    <p>
                        <a href="/courses/<%= course._id %>" class="btn btn-primary">Go To Course</a>
                    </p>
                </div>
               
                
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
