<% include ../partials/header_test %>


<div class="container">
    <div class="show-container">
        <div style="text-align:left"><strong>Purpose #1:  </strong> SHOW details for one specific course in Mongo "courses" and "lessons" collections </div>
        <div style="text-align: left"><strong>Path: </strong> courses/:id </div>
        <div style="text-align: left"><strong>HTTP Verb: </strong>Get</div>
        <div style="text-align: left"><strong>Mongo Collection: </strong>courses, lessons</div>
        <div style="text-align: left"><strong>Mongoose Path: </strong>Course.findById</div>
    </div>
    
    <div class="show-container">
        <div> <strong>Course Name: </strong>  <%=course.name %>  </div>
        <div> <strong>Category:</strong>  <%=course.category %>  </div>
        <div> <strong>Series</strong> <%=course.series %>  </div>
        <div> <strong>Description: </strong> <%=course.description %>  </div>
        
            <div class="d-inline"><a class="btn btn-warning" href="/courses/<%= course._id %>/edit">EDIT Course</a></div>
            <div class="d-inline">
                <form id="delete-form " action="/courses/<%= course._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete Course</button>    
                </form>
            </div>
       
    </div>
    
    <div class="show-container">
            <div><a class="btn btn-success" href="/courses/<%= course._id %>/lessons/new">Add New Lesson to Course</a></div>
            <div class="show-container-lessons">
                <% course.lessons.forEach(function(lesson){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div> <%=lesson.text %></div>
                                        <a  class="btn btn-primary" 
                                            href="/courses/<%= course._id %>/lessons/<%=lesson._id %>/">Go to Lesson </a>
                                    </div>
                                </div>
                            </div>
                         <% }) %>
            </div>
     </div>
</div>         
<% include ../partials/footer %>

    
    
   

