<% include ../partials/header %>



    <h1>this is the individual course SHOW Page</h1>
    <h2>RESTful Route</h2>
        <p>  <%=course.name %>  </p>
        <p>  <%=course.category %>  </p>
        <p>  <%=course.series %>  </p>
        <p>  <%=course.description %>  </p>
        <a class="btn btn-warning" href="/courses/<%= course._id %>/edit">EDIT</a>
        <form id="delete-form" action="/courses/<%= course._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>    
        </form>
        <h4></h4>
    
    <hr>
    <span class="pull-left"><a class="btn btn-success" href="/courses/<%= course._id %>/lessons/new">Add New Lessons</a></span>
    <% course.lessons.forEach(function(lesson){ %>
                <div class="row">
                    <div class="col-md-12">
                        
                        <p>
                            <%=lesson.text %>
                        </p>
                        <a class="btn btn-xs btn-warning" 
                            href="/courses/<%= course._id %>/lessons/<%=lesson._id %>/edit">Edit </a>
                        </div>
                </div>
             <% }) %>
             
<% include ../partials/footer %>

    
    
   

